.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../img/banner-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($black, 0.5);
    z-index: -1;
  }
  &__content {
    padding-top: clamp(60px, 8vw, 120px);
    padding-bottom: clamp(60px, 8vw, 120px);
    margin-top: auto;
    margin-bottom: auto;
  }
}
