.custom--modal {
  .modal-content {
    border-radius: 5px;
    background: lighten($beta, 15%);
    border: 1px solid lighten($beta, 25%);
  }
  .modal-title {
    margin-top: 0;
  }
  .btn-close {
    position: relative;
    background: transparent;
    color: $white;
    opacity: 1;
    transition: all .3s ease;
    &:hover {
      outline: none;
      box-shadow: none;
      color: $gamma;
    }
    &::after {
      content: "\f00d";
      font-family: "Line Awesome Free";
      font-weight: 900;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 34px;
    }
  }
  .modal-header {
    border-bottom: 1px solid lighten($beta, 25%);
    background: lighten($beta, 13%);
  }
  .modal-footer {
    border-top: 1px solid lighten($beta, 25%);
    background: lighten($beta, 13%);
  }
}
