.header-top {
    padding-top: 5px;
    padding-bottom: 5px;
    background: $alpha;
    &__social-icon {
        border: 1px solid lighten($beta, 15%);
        background: lighten($beta, 5%);
        color: $gamma;
        &:hover {
            border: 1px solid $gamma;
            color: $white;
            background: $gamma
        }
    }
}