.payment-slider {
    &__item {
        padding-left: 15px;
        padding-right: 15px;
    }
    &__img {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        border-radius: 5px;
        overflow: hidden;
        &-is {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}