//Typography
$body-font: 'Roboto', sans-serif;
$heading-font: 'Josefin Sans', sans-serif;

//Typo Color
$text-clr: #757575;
$heading-clr: #212121;

//Basic Colors
$white: #fff;
$black: #000;
$gray: #A2A2A3;
$light: #f7f9fb;
$border: #e0e0e0;

// Bootstrap Alternatives
$primary: #33BDFF;
$secondary: #adb5bd;
$success: #0ea76c;
$danger: #f01313 ;
$warning: #ff9f43;
$info: #09c2de;
$dark: #222736; 


//Colors
$alpha: #121622;
$beta: #1B2030;
$gamma: #f01313;
$delta:#373664;
// $epsilon: #34436D;
// $zeta: #00618B;
// $eta: #5e0606;
// $theta: #860404;
// $lota: #410a0a;
// $kappa: #ebf1ff;
// $lambda: #ff9f43;



// Brand Color 
$fb: #1877F2;
$youtube: #FF0000;
$tw: #1DA1F2;
$pin: #D50012;