.bg--primary {
  background: $primary;
}
.bg--secondary {
  background: $secondary;
}
.bg--success {
  background: $success;
}
.bg--danger {
  background: $danger;
}
.bg--warning {
  background: $warning;
}
.bg--info {
  background: $info;
}
.bg--dark {
  background: $dark;
}
.bg--light {
  background: $white;
}
.bg--alpha {
  background: $alpha;
}
.bg--beta {
  background: $beta;
}
.bg--gamma {
  background: $gamma;
}